{{>_msg}}
{{>_nav}}
  <div class="bg-image">
    <img
      src="/assets/img/man-swimming.png"
      class="img-fluid"
      alt="Sample"
    />
    <div class="mask" style="background-color: rgba(0, 6, 32, 0.6);">
      <div class="d-flex justify-content-left align-items-center h-100 container">
        <h1 class="text-white mb-0 h1-home">O que não te desafia, <br> não te transforma!</h1>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5">
      <h3 class="text-primary">Simplificando seu estilo de vida</h3>
      <p class="p-1">Conhença a nova plataforma dos Cursos Esportivos de São Bernardo do Campo, esqueça as
        grandes filas e escolha o seu curso no conforto da sua casa.
      </p>
      <a class="text-primary d-flex" href="/login">
          Saiba mais <i class="ri-arrow-right-line"></i>
      </a>
    </div>
    <div class="col-md-6 mt-5 mb-5">
      <img class="w-100 d-block mx-auto" src="/assets/img/banner-1.png" />
    </div>
  </div>
</div>
<div class="bg-secondary bg-opacity-10">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 mt-5">
        <h3 class="text-primary">Você em movimento</h3>
        <p class="p-1">
          As inscrições pelo site ficarão disponíveis durante todo o ano,
          e o munícipe interessado, poderá acompanhar e se inscrever
          gratuitamente para as vagas disponíveis.
        </p>
      <a class="text-primary d-flex" href="/login">
            Saiba mais <i class="ri-arrow-right-line"></i>
        </a>
      </div>
      <div class="col-md-6 mt-5 mb-5">
        <img class="w-100 d-block mx-auto" src="/assets/img/undraw_mobile_ux_re_59hr.svg" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5">
      <h3 class="text-primary">Esporte que trânsforma</h3>
      <p class="p-1">
        A participação em todas as atividades é totalmente gratuita,
        porém, as vagas são limitadas e destinadas a moradores do munícipio
        escolha o local, modalidade e itensidade.
      </p>
      <a class="text-primary d-flex" href="/login">
          Saiba mais <i class="ri-arrow-right-line"></i>
      </a>
    </div>
    <div class="col-md-6 mt-5 mb-5">
      <img class="w-100 d-block mx-auto" src="/assets/img/banner-2.png" />
    </div>
  </div>
</div>
{{>_footer}}