<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand me-2" href="/">
      <img class="logo" src="/assets/img/logo.svg" alt="Logo" />
    </a>
    <button
      class="navbar-toggler text-white"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#nav"
      aria-controls="nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="ri-bar-chart-horizontal-line"></i>
    </button>

    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/centro-esportivos">Centros Esportivos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/ajuda">Ajuda</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <a class="btn btn-light me-3" href="/login">
          Login / Criar Conta
        </a>
      </div>
    </div>
  </div>
</nav>

