{{>_msg}}
{{>_navUser}}
<div class="container h-100">
    <div class="bg-white p-3 pb-4 mt-3 rounded-3">
        <div class="d-flex">
            <h1><i class="ri-user-line h1-icon"></i>   Área do aluno</h1> 
        </div>
        <div class="row">
            <div class="col-md-3 d-flex flex-column p-1">
                <a class="btn btn-light btn-lg shadow-3 border display-1" href="/courses">
                    <i class="ri-fire-line"></i> Cursos
                </a>
            </div>
            <div class="col-md-3 d-flex flex-column p-1">
                <a class=" btn btn-light btn-lg shadow-3 border display-1">
                    <i class="ri-group-line"></i> Dependentes
                </a>
            </div>
            <div class="col-md-3 d-flex flex-column p-1">
                <a class=" btn btn-light btn-lg shadow-3 border display-1">
                    <i class="ri-book-open-line"></i> Histórico
                </a>
            </div>
            <div class="col-md-3 d-flex flex-column p-1">
                <a class=" btn btn-light btn-lg shadow-3 border display-1">
                    <i class="ri-calendar-event-line"></i> Notícias
                </a>
            </div>
            
              <div class="col-md-3 d-flex flex-column p-1">
                <a class=" btn btn-light btn-lg shadow-3 border display-1">
                    <i class="ri-user-smile-line"></i> Seja Voluntário
                </a>
            </div>
              <div class="col-md-3 d-flex flex-column p-1">
                <a class=" btn btn-light btn-lg shadow-3 border display-1">
                    <i class="ri-open-arm-line"></i> Minhas Inscrições
                </a>
            </div>
              <div class="col-md-3 d-flex flex-column p-1">
                <a class=" btn btn-light btn-lg shadow-3 border display-1">
                    <i class="ri-map-pin-line"></i> Endereços
                </a>
            </div>
        </div>
    </div>
</div>
{{>_footer}}

